---
layout: default
title: About &middot; Samanvay
---

<div class="docs-sub-header">
	{% include masthead.html %}
	<div class="container">
		<div class="docs-sub-content">
			<h2 class="page-title">About</h2>
			<p class="page-description">Learn about what we do and who we are?</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="column-group">
		<div class="column lg-units-8 docs-content">
			<div class="docs-section">
				<h2>History</h2>
				<p>Paragraph 1.</p>
				<p>Paragraph 2.</p>
				<p>Paragraph 3.</p>
			</div>

			<div class="docs-section">
				<h2>Team</h2>
				<p class="lead"></p>

				<div class="list-group">
					<div class="list-group-item">
						<iframe class="github-btn"
						        src="http://ghbtns.com/github-btn.html?user=doge&amp;type=follow"></iframe>
						<a class="team-member" href="https://github.com/doge">
							<img src="http://www.sciencealert.com/images/articles/processed/doge-doge_1024.jpg"
							     alt="@dog">
							<div class="team-member-info">
								<strong>Doge</strong>
							</div>
						</a>
					</div>
				</div>

				<p>Contact us.</p>
			</div>
		</div>
	</div>

	<div class="column">
		<!-- Footer -->
		{% include footer.html %}
	</div>
</div>
